{% extends "jinja/bases/general_base.html" %}
{% block tab_title %}Admin View{% endblock %}
{% block header_content %}

<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/history">History</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/pricing"
    target="_blank">Pricing</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
{% if username %}<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/logout">Logout</a>{% endif %}
{% endblock %}
{% block content%}
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        Page available only to website administrator.
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Registered Users</th>
            </tr>
        </thead>
        <tbody>
            {% for item in values %}
            <tr>
                <td>{{item.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}