{% extends "jinja/bases/general_base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/categories.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
{% endblock %}
{% block tab_title %}Categories{% endblock %}
{% block header_conent%}
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/#explore">Explore</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/history">History</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="../static/material/SVEpricelistJan2024.pdf"
    target="_blank">Pricing</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
{% if username %}<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/logout">Logout</a>{% endif %}
{% endblock %}
{% block content%}
<div class="text-center">
    <h1>Categories</h1>
    <div class="container">
        <p>Choose a category from below:</p>
        <form action="/collections" method="post">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="marble" class="btn btn-link btn-block marble-button">
                        Marble Tiles
                    </button>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="marble_hearts"
                        class="btn btn-link btn-block marble_hearts-button">
                        Marble Hearts
                    </button>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="slate" class="btn btn-link btn-block slate-button">
                        Slate
                    </button>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="terracotta"
                        class="btn btn-link btn-block terracotta-button">
                        Terracotta
                    </button>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="terracotta_3d"
                        class="btn btn-link btn-block terracotta_3d-button">
                        3D Terracotta
                    </button>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="books" class="btn btn-link btn-block books-button">
                        Books
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 col-lg-4 mb-3">
                    <button type="submit" name="category" value="wood" class="btn btn-link btn-block wood-button">
                        Wood
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}