{% extends "jinja/bases/general_base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
{% endblock %}
{% block tab_title %}Collections{% endblock %}
{% block header_conent%}
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/#explore">Explore</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/history">History</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/pricing" target="_blank">Pricing</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
{% if username %}<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/logout">Logout</a>{% endif %}
{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <a href="/categories"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black"
                        class="bi bi-arrow-left-short" viewBox="0 1 16 16">
                        <path fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></a>
            </div>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <h1>
                    {% if chosen_category == "marble" %} Marble
                    {% elif chosen_category == "marble_hearts" %} Marble Hearts
                    {% elif chosen_category == "slate" %} Slate
                    {% elif chosen_category == "terracotta" %} Terracotta
                    {% elif chosen_category == "terracotta_3d" %} Plaster
                    {% elif chosen_category == "books" %} 3D Books
                    {% else %}{{ chosen_category }}
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="col-sm">
            <!-- Empty div necessary for page title layout -->
        </div>
    </div>

    {% if products|length == 0 %}
    <div class="text-center">
        <p>No {{ chosen_category }} products available at the moment. More products will arrive soon!</p>
    </div>
    {% else %}
    <div class="mb-3">
        {% if pagination is defined and pagination.pages > 1 %}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Filters
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card">
                <div class="card-header">
                    <strong>Filter Options</strong>
                </div>
                <div class="card-body">
                    <form id="filterForm" method="GET" action="{{ url_for('collections') }}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filters" value="Classical" id="2" {% if 'Classical' in request.args.getlist('filters') %}checked{% endif %}>
                            <label class="form-check-label" for="2">Classical</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filters" value="Ethnic" id="3" {% if 'Ethnic' in request.args.getlist('filters') %}checked{% endif %}>
                            <label class="form-check-label" for="3">Ethnic</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filters" value="Fun" id="4" {% if 'Fun' in request.args.getlist('filters') %}checked{% endif %}>
                            <label class="form-check-label" for="4">Fun</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">Apply Filters</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev == True %}
            <a href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}" type="button" class="btn"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg></a>
            {% endif %}

            {% if pagination.page >= 3 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=1, filters=request.args.getlist('filters')) }}">1</a></li>
            {% endif %}
            {% if pagination.page > 3 %}
            <li class="page-item">
                <div class="page-link">...</div>
            </li>
            {% endif %}
            {% if pagination.has_prev == True %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}">{{
                    pagination.prev_num }} </a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link"
                    href="{{ url_for('collections', page=pagination.page, filters=request.args.getlist('filters')) }}">{{
                    pagination.page }}</a></li>
            {% if pagination.has_next == True %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}">{{
                    pagination.next_num }}</a></li>
            {% endif %}
            {% if pagination.page < pagination.pages-2 %} <li class="page-item">
                <div class="page-link">...</div>
                </li>
                {% endif %}
                {% if pagination.page <= pagination.pages-2 %} <li class="page-item"><a class="page-link"
                        href="{{ url_for('collections', page=pagination.pages, filters=request.args.getlist('filters')) }}">{{
                        pagination.pages }}</a></li>
                    {% endif %}

                    {% if pagination.has_next == True %}
                    <a href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}" type="button" class="btn"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg></a>
                    {% endif %}
        </ul>
    </nav>
    {% endif %}

<div class="row">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 mb-3">
        <form action="/product" method="post">
            <button type="submit" class="btn btn-link w-100">
                <img src="../{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
                <input type="hidden" name="product_image_url" value="{{ product.image_url }}">
                <input type="hidden" name="product_name" value="{{ product.name }}">
                <input type="hidden" name="product_category" value="{{ product.category }}">
            </button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="text-center">
    {% if pagination is defined and pagination.pages > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev == True %}
            <a href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}" type="button" class="btn"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg></a>
            {% endif %}

            {% if pagination.page >= 3 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=1, filters=request.args.getlist('filters')) }}">1</a></li>
            {% endif %}
            {% if pagination.page > 3 %}
            <li class="page-item">
                <div class="page-link">...</div>
            </li>
            {% endif %}
            {% if pagination.has_prev == True %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}">{{
                    pagination.prev_num }} </a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link"
                    href="{{ url_for('collections', page=pagination.page, filters=request.args.getlist('filters')) }}">{{
                    pagination.page }}</a></li>
            {% if pagination.has_next == True %}
            <li class="page-item"><a class="page-link" href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}">{{
                    pagination.next_num }}</a></li>
            {% endif %}
            {% if pagination.page < pagination.pages-2 %} <li class="page-item">
                <div class="page-link">...</div>
                </li>
                {% endif %}
                {% if pagination.page <= pagination.pages-2 %} <li class="page-item"><a class="page-link"
                        href="{{ url_for('collections', page=pagination.pages, filters=request.args.getlist('filters')) }}">{{
                        pagination.pages }}</a></li>
                    {% endif %}

                    {% if pagination.has_next == True %}
                    <a href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}" type="button" class="btn"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg></a>
                    {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='scripts/filter_menu.js') }}"></script>
{% endblock %}