{% extends "jinja/bases/general_base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
{% endblock %}
{% block tab_title %}Collections{% endblock %}
{% block header_content %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/categories">Catalogue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pricing" target="_blank">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basket">Basket</a>
    </li>
</ul>
{% if username %}
<ul class="navbar-nav ms-md-auto">
    <li class="nav-item">
        <a class="nav-link py-2 text-decoration-none text-danger" href="/logout">Logout</a>
    </li>
</ul>
{% endif %}
{% endblock %}
{% block content%}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <div class="text-center">
                <a href="/categories"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black"
                        class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></a>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <h1>
                {% if chosen_category == "marble" %} Marble
                {% elif chosen_category == "marble_hearts" %} Marble Hearts
                {% elif chosen_category == "slate" %} Slate
                {% elif chosen_category == "terracotta" %} Terracotta
                {% elif chosen_category == "terracotta_3d" %} Plaster
                {% elif chosen_category == "books" %} 3D Books
                {% else %}{{ chosen_category }}
                {% endif %}
            </h1>
        </div>
        <div class="col col-lg-2">
            <!-- Empty div necessary for page title layout -->
        </div>
    </div>

    {% if products|length == 0 %}
    <div class="text-center">
        <p>No {{ chosen_category }} products available at the moment. More products will arrive soon!</p>
    </div>
    {% else %}
    <div class="row">
        <!-- Filters Sidebar -->
        {% if tags|length > 0 %}
        <div class="col-md-3">
            <div class="card sticky-top sticky-top-offset">
                <div class="card-header">
                    <strong>Filters</strong>
                </div>
                <div class="card-body">
                    <form id="filterForm" method="GET" action="{{ url_for('collections') }}">
                        {% for tag in tags %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="filters" value="{{ tag.name }}"
                                id="{{ tag.id }}" {% if tag.name in request.args.getlist('filters') %}checked{% endif
                                %}>
                            <label class="form-check-label" for="{{ tag.id }}">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3 w-100">Apply</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Products Grid -->
        <div class="col-md-9">
            {% else %}
            <!-- If no tags, use full width for products -->
            <div class="col-md-12">
                {% endif %}
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-6 col-lg-4 mb-3">
                        <form action="/product" method="post">
                            <button type="submit" class="btn btn-link w-100">
                                <img src="../{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
                                <input type="hidden" name="product_image_url" value="{{ product.image_url }}">
                                <input type="hidden" name="product_name" value="{{ product.name }}">
                                <input type="hidden" name="product_category" value="{{ product.category }}">
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                {% if pagination is defined and pagination.pages > 1 %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if pagination.has_prev == True %}
                        <a href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}"
                            type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg></a>
                        {% endif %}

                        {% if pagination.page >= 3 %}
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('collections', page=1, filters=request.args.getlist('filters')) }}">1</a>
                        </li>
                        {% endif %}
                        {% if pagination.page > 3 %}
                        <li class="page-item">
                            <div class="page-link">...</div>
                        </li>
                        {% endif %}
                        {% if pagination.has_prev == True %}
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('collections', page=pagination.prev_num, filters=request.args.getlist('filters')) }}">{{
                                pagination.prev_num }} </a></li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link"
                                href="{{ url_for('collections', page=pagination.page, filters=request.args.getlist('filters')) }}">{{
                                pagination.page }}</a></li>
                        {% if pagination.has_next == True %}
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}">{{
                                pagination.next_num }}</a></li>
                        {% endif %}
                        {% if pagination.page < pagination.pages-2 %} <li class="page-item">
                            <div class="page-link">...</div>
                            </li>
                            {% endif %}
                            {% if pagination.page <= pagination.pages-2 %} <li class="page-item"><a class="page-link"
                                    href="{{ url_for('collections', page=pagination.pages, filters=request.args.getlist('filters')) }}">{{
                                    pagination.pages }}</a></li>
                                {% endif %}

                                {% if pagination.has_next == True %}
                                <a href="{{ url_for('collections', page=pagination.next_num, filters=request.args.getlist('filters')) }}"
                                    type="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-caret-right-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                    </svg></a>
                                {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
    {% block javascript %}
    <script src="{{ url_for('static', filename='scripts/filter_menu.js') }}"></script>
    {% endblock %}