{% extends "jinja/bases/general_base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
{% endblock %}
{% block tab_title %}History{% endblock %}
{% block header_conent%}
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/#explore">Explore</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/history">History</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="../static/material/SVEpricelistJan2024.pdf"
    target="_blank">Pricing</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
{% if username %}<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/logout">Logout</a>{% endif %}
{% endblock %}
{% block content%}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto">
                <div class="d-flex">
                    <div class="flex-shrink-0 paragraph-pic">
                        <img src="../static/imgs/paragraph/valpo.jpg" alt="Sample Image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="lead text-justify">
                            During the Roman period, Verona and Valpolicella were already known for the quarrying and
                            processing of their marbles. They were used both for defensive and decorative purposes: the
                            streets, the churches, the buildings, and the monuments of Verona are made of this noble
                            material, and their astonishing beauty still amazes visitors.
                            <br><br>
                            Nowadays, Verona hosts one of the most important districts for marble processing, relying on
                            a network of producers and craftsmen of the highest level and competence. STUDIOSVE is part
                            of this story.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-8 mx-auto">
                <div class="d-flex">
                    <div class="flex-grow-1 me-3">
                        <p class="lead text-end">
                            {% block histroy_part2 %}
                            It all began when Leo, fascinated by the frescoes he could see in his hometown and a
                            descendant of an ancient family of artists (discover more at <a
                                href="http://www.lorenzi.net/" target="_blank">www.lorenzi.net</a>), developed an
                            innovative technique to reproduce those paintings on marble. This was the starting point of
                            a new era in the family business.
                            <br><br>
                            Now, STUDIOSVE offers a wide range of gift articles and decorative objects. We have
                            "quarried" more than 2000 different images. Other Italian traditional materials like
                            terracotta and slate were introduced. We customize our products on demand. The only limit is
                            your imagination.
                            {% endblock %}
                        </p>
                    </div>
                    <div class="paragraph-pic">
                        <img src="../static/imgs/paragraph/leo_potrait.png" alt="Leonardo potrait">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}