<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/secondary_navbar.css') }}" />

    <title>Example</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
    <script src="chrome-extension://nngceckbapebfimnlniiiahkandclblb/content/fido2/page-script.js"></script>

</head>

<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="/index2">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 215.000000 95.000000"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
                    <g transform="translate(0.000000,95.000000) scale(0.100000,-0.100000)" stroke="currentColor"
                        fill="currentColor">
                        <path d="M695 820 c-3 -5 -31 -8 -61 -7 l-56 3 4 -60 c2 -48 0 -61 -12 -64
                -10 -2 -20 10 -28 32 -7 19 -26 46 -43 60 -101 85 -262 -4 -218 -121 15 -42
                55 -79 144 -138 98 -64 139 -107 160 -164 27 -76 14 -149 -37 -206 l-30 -35
                71 0 c75 0 124 16 135 45 3 9 6 156 6 326 0 327 2 337 45 289 15 -17 191 -435
                262 -623 17 -44 31 -67 40 -65 7 2 40 68 72 148 140 346 246 560 277 560 12 0
                14 -44 14 -316 -1 -361 -3 -354 76 -354 74 0 74 1 74 338 0 174 -4 301 -10
                312 -6 11 -26 21 -50 25 -22 4 -42 11 -46 16 -7 12 -234 12 -234 -1 0 -5 15
                -12 34 -16 19 -3 37 -11 39 -18 7 -18 -203 -528 -220 -533 -9 -3 -198 460
                -209 513 -6 30 -4 32 30 38 20 4 36 11 36 16 0 13 -257 13 -265 0z" />
                        <path d="M90 807 c-14 -7 -33 -28 -42 -47 -16 -31 -18 -68 -18 -308 l0 -274
                29 -29 c24 -23 38 -29 74 -29 l44 0 -13 58 c-8 31 -14 69 -14 85 0 43 27 33
                50 -20 27 -62 53 -89 106 -109 52 -20 115 -14 153 14 34 25 56 87 47 134 -9
                51 -37 81 -135 147 -100 68 -144 111 -165 163 -29 68 -14 152 36 205 l21 23
                -74 0 c-41 0 -85 -6 -99 -13z" />
                        <path d="M2014 803 c2 -10 6 -40 8 -67 4 -66 -16 -72 -41 -13 -27 63 -47 71
                -176 71 l-110 1 -3 -143 -3 -143 103 3 103 3 13 43 c8 23 20 42 28 42 11 0 14
                -24 14 -120 0 -99 -3 -120 -15 -120 -8 0 -19 16 -25 40 -6 22 -20 44 -30 50
                -11 6 -57 9 -103 8 l-82 -3 -3 -110 c-5 -197 2 -207 157 -207 119 0 145 10
                186 74 28 44 48 58 58 40 3 -4 -3 -34 -14 -67 -10 -32 -16 -61 -13 -64 2 -3
                17 5 32 16 l27 20 3 311 2 310 -26 21 c-34 27 -98 29 -90 4z" />
                    </g>
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block text-decoration-none" href="/index2#explore">Explore</a>
            <a class="py-2 d-none d-md-inline-block text-decoration-none" href="#">History</a>
            <a class="py-2 d-none d-md-inline-block text-decoration-none"
                href="../static/material/SVEpricelistJan2024.pdf" target="_blank">Pricing</a>
            <a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto">
                <div class="d-flex">
                    <div class="flex-shrink-0 paragraph-pic">
                        <img src="../static/imgs/paragraph/valpo.jpg" alt="Sample Image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="lead text-justify">
                            During the Roman period, Verona and Valpolicella were already known for the quarrying and
processing of their marbles. They were used both for defensive and decorative purposes: the
streets, the churches, the buildings, and the monuments of Verona are made of this noble
material, and their astonishing beauty still amazes visitors.
<br><br>
Nowadays, Verona hosts one of the most important districts for marble processing, relying on
a network of producers and craftsmen of the highest level and competence. STUDIOSVE is part
of this story.
<br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-8 mx-auto">
                <div class="d-flex">
                    <div class="flex-grow-1 me-3">
                        <p class="lead text-end">
                            {% block histroy_part2 %}
                            It all began when Leo, fascinated by the frescoes he could see in his hometown and a
descendant of an ancient family of artists (discover more at <a href="http://www.lorenzi.net/"
    target="_blank">www.lorenzi.net</a>), developed an
innovative technique to reproduce those paintings on marble. This was the starting point of
a new era in the family business.
<br><br>
Now, STUDIOSVE offers a wide range of gift articles and decorative objects. We have
"quarried" more than 2000 different images. Other Italian traditional materials like
terracotta and slate were introduced. We customize our products on demand. The only limit is
your imagination.
                            {% endblock %}
                        </p>
                    </div>
                    <div class="paragraph-pic">
                        <img src="../static/imgs/paragraph/leo_potrait.png" alt="Leonardo potrait">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <img src="../static/imgs/logo/sve_black.svg" alt="SVE Logo">
                <small class="d-block mb-3 text-muted">© 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Useful Links</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted  text-decoration-none" href="/">Homepage</a></li>
                    <li><a class="text-muted  text-decoration-none" href="../static/material/SVEpricelistJan2024.pdf"
                            target="_blank">Pricing</a></li>
                    <li><a class="text-muted  text-decoration-none" href="/basket">Basket</a></li>
                    <li><a class="text-muted text-decoration-none" href="https://instagram.com/sve_studiosve"
                            target="_blank">Instagram</a></li>
                    <li><a class="text-muted text-decoration-none" href="https://www.facebook.com/marblegifts?ref=hl"
                            target="_blank">Facebook</a></li>
                    <li><a class="text-muted text-decoration-none" href="https://www.pinterest.com/svecom/"
                            target="_blank">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Explore</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="#">Marble</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Marble Hearts</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Terracotta</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">3D Terracotta</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Slate</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Books</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="#">Contacts</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">History</a></li>
                    <li><a class="text-muted text-decoration-none" href="mailto:info@studiovertueurope.com">Info email
                            address</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Privacy</a></li>
                    <li><a class="text-muted text-decoration-none" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

</html>