{% extends "jinja/bases/general_base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/product.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/otherstyles.css') }}" />
<style>
    /* These blocks of code have been added here because include a Jinja2 variable*/
    .table-with-contained-bg {
        background-image: url('{{ chosen_product_url }}');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 300px;
        cursor: pointer;
    }

    .table-with-bg {
        background-image: url('{{ chosen_product_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block tab_title %}Product{% endblock %}
{% block header_conent%}
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/#explore">Explore</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/history">History</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/pricing" target="_blank">Pricing</a>
<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/basket">Basket</a>
{% if username %}<a class="py-2 d-none d-md-inline-block text-decoration-none" href="/logout">Logout</a>{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <a href="/collections"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black"
                        class="bi bi-arrow-left-short" viewBox="0 1 16 16">
                        <path fill-rule="evenodd"
                            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                    </svg></a>
            </div>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <h1>Product details</h1>
            </div>
        </div>
        <div class="col-sm">
            <!-- Empty div necessary for page title layout -->
        </div>
    </div>
    <div class="text-center">
        <form class="form-group" action="/categories" method="post">
            {% if chosen_product_category == "marble_hearts" or chosen_product_category == "books" or chosen_product_category == "terracotta_3d"%}
            <img src="{{ chosen_product_url }}" class="img-fluid" width="500" alt="product image">
            {% else %}
            {% if chosen_product_category != "slate" %}
            <label for="product_type">Choose product type:</label>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% if chosen_product_category == "terracotta" %}
                    <select class="form-control" id="product_type" name="product_type" onchange="showOptions()">
                        <option value="Coasters 10x10 cm">Coasters - 10x10 cm</option>
                        <option value="Coasters 15x15 cm">Coasters - 15x15 cm</option>
                        <option value="Magnet">Magnet - 5x5</option>
                        {% else %}
                        {% if chosen_product_category == "marble" %}
                        <select class="form-control" id="product_type" name="product_type" onchange="updateProductImage()">
                            {% else %}
                            <select class="form-control" id="product_type" name="product_type">
                            {% endif %}
                            <option value="Coasters">Coasters - 10x10 cm tumbled marble, cork back</option>
                            <option value="WineStopper">Wine Stopper - 5x5 cm tumbled marble with metal base</option>
                            <option value="Magnet">Magnet - 5x5 cm tumbled marble</option>
                            <option value="Paperweight">Paperweight - 5x5x5 cm tumbled marble cube</option>
                            <option value="RustHook">Rust Hook - 10x10 cm tumbled marble with metal hook</option>
                            <option value="TripleHook">Triple Hook - Bigger tumbled marble with metal hook</option>
                            <option value="PotSticker">Pot Sticker - 5x5 cm tumbled marble with long metal pin</option>
                            {% endif %}
                        </select>

                        {% if chosen_product_category == "marble" %}
                        <img id="product_image" src="/static/images/default_image.jpg" alt="Product Image" class="img-fluid mt-3" style="display: none;">
                        {% endif %}

                        {% if chosen_product_category == "terracotta" %}
                        <div class="form-group mt-3" id="additional_options" style="display:block;">
                            <label for="additional_feature">Backing style:</label>
                            <select class="form-control" id="additional_feature" name="additional_feature">
                                <option value="hole backing">Hole</option>
                                <option value="cork backing">Backing in cork</option>
                                <option value="wood backing">Backing in wood</option>
                            </select>
                        </div>
                        {% endif %}
                </div>
            </div>
            {% endif %}
            {% if chosen_product_category == "marble" %}
            <label class="pt-3">Now choose which picture you want on it:</label>
            {% endif %}
            <br>
            <div class="d-flex justify-content-center mt-3">
                {% if chosen_product_category == "slate" %}
                <table class="table-with-contained-bg">
                    {% else %}
                    <table class="table-with-bg">
                        {% endif %}
                        <tr>
                            <td>Tile A</td>
                            <td>Tile B</td>
                        </tr>
                        <tr>
                            <td>Tile D</td>
                            <td>Tile C</td>
                        </tr>
                    </table>
            </div>

            <p>In total you selected <span id="product_counter">0</span> tiles, including: <span
                    id="selectedList"></span>
            </p>
            <input type="hidden" name="product_counter">
            <input type="hidden" name="selected_tiles">
            <div class="alert alert-warning d-inline-block" role="alert">Note: if you do not select any tile but still
                add
                the product to your basket, all of the tiles will be included.</div>
            {% endif %}
            <input type="hidden" name="product_name" value="{{ chosen_product_name }}">
            <br>
            <label for="product_quantity">Quantity:</label>
            <div class="row justify-content-center">
                <div class="product_quantity">
                    <input type="number" id="product_quantity" name="product_quantity" min="1" value="1"
                        class="form-control">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <input class="btn btn-dark" type="submit" value="Add to basket">
            </div>
        </form></div></div>
        <form action="/collections" method="post">
            <div class="text-center mt-2">
                <input type="hidden" name="product_name" value="{{ chosen_product_name }}">
                <input class="btn btn-outline-dark" type="submit" value="Back to product selection">
            </div>
        </form>
        {% endblock %}
        {% block javascript %}
        <script src="{{ url_for('static', filename='scripts/conditional_menu.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/tilesgrid_script.js') }}"></script>
        {% endblock %}