<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="../static/imgs/logo/sve_black.svg" alt="SVE Logo">
            <small class="d-block mb-3 text-muted">© 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Useful Links</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted  text-decoration-none" href="/">Homepage</a></li>
                <li><a class="text-muted  text-decoration-none" href="../static/material/SVEpricelistJan2024.pdf" target="_blank">Pricing</a></li>
                <li><a class="text-muted  text-decoration-none" href="/basket">Basket</a></li>
                <li><a class="text-muted text-decoration-none" href="https://instagram.com/sve_studiosve" target="_blank">Instagram</a></li>
                <li><a class="text-muted text-decoration-none" href="https://www.facebook.com/marblegifts?ref=hl" target="_blank">Facebook</a></li>
                <li><a class="text-muted text-decoration-none" href="https://www.pinterest.com/svecom/" target="_blank">Pinterest</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Explore</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted text-decoration-none" href="/categories">Marble</a></li>
                <li><a class="text-muted text-decoration-none" href="/categories">Marble Hearts</a></li>
                <li><a class="text-muted text-decoration-none" href="/categories">Terracotta</a></li>
                <li><a class="text-muted text-decoration-none" href="/categories">3D Terracotta</a></li>
                <li><a class="text-muted text-decoration-none" href="/categories">Slate</a></li>
                <li><a class="text-muted text-decoration-none" href="/categories">Books</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted text-decoration-none" href="/contacts">Contacts</a></li>
                <li><a class="text-muted text-decoration-none" href="/history">History</a></li>                    
                <li><a class="text-muted text-decoration-none" href="mailto:info@studiovertueurope.com">Info email address</a></li>
                <li><a class="text-muted text-decoration-none" href="/terms">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>