

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Example</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='telephone_style.css') }}" />

    <!-- Optional: Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='telephone_script.js') }}"></script>
</head>
<body>

    <h1>International Telephone Input - BOOTSTRAP INPUT GROUP</h1>
    <form>
        <div class="input-group">
            <input type="tel" class="form-control">
            <span class="input-group-addon">Tel</span>
        </div>
        <br>
        <div class="input-group">
            <input type="tel" class="form-control">
            <span class="input-group-addon">Tel</span>
        </div>
    </form>

</body>
</html>